<h1 class="page-header">Listing statuses</h1>

<%= link_to 'New Status', new_status_path, :class => "btn btn-success" %><br/><br/>
    <% @statuses.each do |status| %>
    <div class="status">
        <h3><strong><%= status.user.first_name %> <%= status.user.last_name %></strong></h3>
        <p class="time"><i class="fa fa-clock-o"></i>&nbsp;<%= link_to time_ago_in_words(status.created_at) + " ago", status %>
      <span class="admin">
        &nbsp;|&nbsp; <%= link_to edit_status_path(status) do %>
          <i class="fa fa-edit"></i>
          Edit
        <% end %> &nbsp;| &nbsp;
        <%= link_to status, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-trash-o"></i>
          Trash
        <% end %>
      </span>
      </p>
        <p class="content"><%= status.content %></p>
        
      
    </div>

    <% end %>

<br>

