<h1 class="page-header">Listing statuses</h1>

<%= link_to 'New Status', new_status_path, :class => "btn btn-success" %><br/><br/>
    <% @statuses.each do |status| %>
    <div class="status">
        <h3><strong><%= status.name %></strong></h3>
        
        <p class="content"><%= status.content %></p>
        <p class="time"><%= link_to time_ago_in_words(status.created_at) + " ago", status %>
      <span class="admin">
        &nbsp;|&nbsp; <%= link_to 'Edit', edit_status_path(status) %> &nbsp;| &nbsp;
        <%= link_to 'Destroy', status, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </span>
    </div>

    <% end %>

<br>

