<h1 class="page-header"><%= @status.user.full_name %></h1>

<p id="notice"><%= notice %></p>
<p class="time"><%= time_ago_in_words(@status.created_at) + " ago" %></p>
<p>
  <strong>Content:</strong>
  <%= @status.content %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
